.app_container{
    width: 100vw;
    height: 100vh;
}

.login_page_container{
    display: grid;
    grid-template-columns: [main-column-start] 100%;
    grid-template-rows: [title-row-start] 20% [login-form-row-start] 80% [end-row];
    width: 100vw;
    height: 100vh;
}

.view_page_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.signup_page_container{
    display: grid;
    grid-template-columns: [main-column] 100%;
    grid-template-rows: [title-row-start] 20% [signup-form-row-start] 80% [end-row];
    width: 100vw;
    height: 100vh;
}