.new_password_form_container{
    width: 100%;
    height: 100%;
}

.new_password_form_title_container{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form_container{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: [main-column] 100% [end-column];
    grid-template-rows: [site-name-row-start] 15% [username-row-start] 15% [password-row-start] 15% [check-row-start] 15% 
                            [strength-row-start] 10% [generate-row-start] 15% [submit-row-start] 15% [row-end];
}

.new_password_form_item{
    display: flex;
    justify-content: center;
    align-items: center;
}