.table_holder{
    width: 75%;
    height: 75%;
}

.table_size{
    width: 100%;
    height: 100%;
}

.table_title_container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.utilities_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.password_table_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.password_creater_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}