.signup_form{
    display: grid;
    grid-template-columns: [main-column] 100%;
    grid-template-rows: [username-row-start] 30% [password-row-start] 30% [submit-row-start] 30% [passwordCheck-row-start] 10% [end-row];
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 0 3px black;
}

.signup_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.signup_title_container{
    width: 100%;
    height: 20%;
}

.signup_form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}